In [54]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

In [8]:
df = pd.read_excel("Closing Stock Prices.xlsx",skiprows=2)

/home/kiran/project/venv/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [9]:
df.head()

        Date     IBM   INTC   CSCO      GE  DJ Industrials \nIndex
0 2010-09-03  127.58  18.43  21.04  15.392                10447.93
1 2010-09-07  125.95  18.12  20.58  15.440                10340.69
2 2010-09-08  126.08  17.90  20.64  15.700                10387.01
3 2010-09-09  126.36  18.00  20.61  15.910                10415.24
4 2010-09-10  127.99  17.97  20.62  15.980                10462.77

In [47]:
def roll_mean(df,name,out_name,window_size,shift_unit):
    df[out_name] = df[name].rolling(window=window_size).mean().shift(shift_unit).round(2)
    return(df)

In [51]:
roll_mean(df,"IBM","IBM_roll_2",2,1)
roll_mean(df,"IBM","IBM_roll_3",3,1)
roll_mean(df,"IBM","IBM_roll_4",4,1)
roll_mean(df,"INTC","INTC_roll_2",2,1)
roll_mean(df,"INTC","INTC_roll_3",3,1)
roll_mean(df,"INTC","INTC_roll_4",4,1)
roll_mean(df,"CSCO","CSCO_roll_2",2,1)
roll_mean(df,"CSCO","CSCO_roll_3",3,1)
roll_mean(df,"CSCO","CSCO_roll_4",4,1)
roll_mean(df,"GE","GE_roll_2",2,1)
roll_mean(df,"GE","GE_roll_3",3,1)
roll_mean(df,"GE","GE_roll_4",4,1)
roll_mean(df,"DJ Industrials \nIndex","DJ_roll_2",2,1)
roll_mean(df,"DJ Industrials \nIndex","DJ_roll_3",3,1)
roll_mean(df,"DJ Industrials \nIndex","DJ_roll_4",4,1)

,Date,IBM,INTC,CSCO,GE,DJ Industrials \nIndex,IBM_roll_3,IBM_roll_4,IBM_roll_2,INTC_roll_2,...,INTC_roll_4,CSCO_roll_2,CSCO_roll_3,CSCO_roll_4,DJ_roll_2,DJ_roll_3,DJ_roll_4,GE_roll_2,GE_roll_3,GE_roll_4
0,2010-09-03,127.58,18.430,21.040,15.392,10447.93,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-09-07,125.95,18.120,20.580,15.440,10340.69,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-09-08,126.08,17.900,20.640,15.700,10387.01,NaN,NaN,126.76,18.27,...,NaN,20.81,NaN,NaN,10394.31,NaN,NaN,15.42,NaN,NaN
3,2010-09-09,126.36,18.000,20.610,15.910,10415.24,126.54,NaN,126.02,18.01,...,NaN,20.61,20.75,NaN,10363.85,10391.88,NaN,15.57,15.51,NaN
4,2010-09-10,127.99,17.970,20.620,15.980,10462.77,126.13,126.49,126.22,17.95,...,18.11,20.62,20.61,20.72,10401.12,10380.98,10397.72,15.80,15.68,15.61
5,2010-09-13,129.61,18.557,21.260,16.250,10544.13,126.81,126.60,127.18,17.98,...,18.00,20.62,20.62,20.61,10439.01,10421.67,10401.43,15.94,15.86,15.76
6,2010-09-14,128.85,18.740,21.450,16.160,10526.49,127.99,127.51,128.80,18.26,...,18.11,20.94,20.83,20.78,10503.45,10474.05,10452.29,16.12,16.05,15.96
7,2010-09-15,129.43,18.720,21.590,16.340,10572.73,128.82,128.20,129.23,18.65,...,18.32,21.36,21.11,20.98,10535.31,10511.13,10487.16,16.20,16.13,16.08
8,2010-09-16,129.67,18.970,21.930,16.230,10594.83,129.30,128.97,129.14,18.73,...,18.50,21.52,21.43,21.23,10549.61,10547.78,10526.53,16.25,16.25,16.18
9,2010-09-17,130.19,18.810,21.863,16.290,10607.85,129.32,129.39,129.55,18.84,...,18.75,21.76,21.66,21.56,10583.78,10564.68,10559.54,16.28,16.24,16.24
10,2010-09-20,131.79,18.930,21.750,16.550,10753.62,129.76,129.54,129.93,18.89,...,18.81,21.90,21.79,21.71,10601.34,10591.80,10575.48,16.26,16.29,16.26
11,2010-09-21,131.98,19.140,21.640,16.520,10761.03,130.55,130.27,130.99,18.87,...,18.86,21.81,21.85,21.78,10680.74,10652.10,10632.26,16.42,16.36,16.35
12,2010-09-22,132.57,19.010,21.670,16.500,10739.31,131.32,130.91,131.88,19.04,...,18.96,21.70,21.75,21.80,10757.32,10707.50,10679.33,16.54,16.45,16.40
13,2010-09-23,131.67,18.980,21.530,16.140,10662.42,132.11,131.63,132.27,19.08,...,18.97,21.66,21.69,21.73,10750.17,10751.32,10715.45,16.51,16.52,16.46
14,2010-09-24,134.11,19.423,22.090,16.660,10860.26,132.07,132.00,132.12,19.00,...,19.02,21.60,21.61,21.65,10700.86,10720.92,10729.10,16.32,16.39,16.43
15,2010-09-27,134.65,19.235,22.110,16.430,10812.04,132.78,132.58,132.89,19.20,...,19.14,21.81,21.76,21.73,10761.34,10754.00,10755.76,16.40,16.43,16.45
16,2010-09-28,134.89,19.505,21.863,16.440,10858.14,133.48,133.25,134.38,19.33,...,19.16,22.10,21.91,21.85,10836.15,10778.24,10768.51,16.55,16.41,16.43
17,2010-09-29,135.48,19.240,21.870,16.360,10835.28,134.55,133.83,134.77,19.37,...,19.29,21.99,22.02,21.90,10835.09,10843.48,10798.22,16.44,16.51,16.42
18,2010-09-30,134.14,19.200,21.900,16.250,10788.05,135.01,134.78,135.18,19.37,...,19.35,21.87,21.95,21.98,10846.71,10835.15,10841.43,16.40,16.41,16.47
19,2010-10-01,135.64,19.320,21.910,16.360,10829.68,134.84,134.79,134.81,19.22,...,19.29,21.88,21.88,21.94,10811.66,10827.16,10823.38,16.30,16.35,16.37

In [53]:
df.dropna(how="any",inplace=True)

In [ ]:
def metrics()    
    print(mean_absolute_percentage_error(df["Units Sold"], df["ma_4"])) #MAPE
    print(mean_squared_error(df["Units Sold"], df["ma_4"], squared=False)) #RMSE
    print(mean_squared_error(df["Units Sold"], df["ma_4"], squared=True)) #MSE
    print(mean_absolute_error(df["Units Sold"], df["ma_4"])) #MAD

In [55]:
df_metrics = pd.DataFrame({})

In [56]:
df_metrics.head()

Empty DataFrame
Columns: []
Index: []